<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movcompksgt2022a">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movcompksgt2022A"
        tools:targetApi="31">
        <activity
            android:name=".CrudEntrenador"
            android:exported="false" />
        <activity
            android:name=".CintentExplicitoParametros"
            android:exported="false" />
        <activity
            android:name=".BListView"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ACicloVida"
            android:exported="false"
            android:label="@string/title_activity_aciclo_vida"
            android:theme="@style/Theme.Movcompksgt2022A.NoActionBar" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://fcdd99abaa774564ba4a9bb9b5adb5ae@o1255429.ingest.sentry.io/6423979" />
        <!--
 Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
           We recommend adjusting this value in production.
        -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" /> <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>